/annotation
/crops
/plots
/results_per_sample
/results_per_sample_valis_coords
/results_per_sample_valis_plots
/spatial_stats_results_marker_status
/valis_registered_crops
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
